### GRADLE ###
build/
.gradle/
.build-script/

### MAVEN ###
target/

### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### OSX ###
.DS_Store

### Evosuite ###
evosuite-report/

### JWalk ###
JWalkLicense.txt

### Misc ###
out/
